@{
    ViewBag.Title = "About";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>A little bit about Daniel.</h2>
</hgroup>


<article>
    <p>
        Coming soon
    </p>
</article>

<aside>
    <h3>Daniel's Interests</h3>
    <p>
        Some personal interests will appear here shortly
    </p>
    <ul>
        <li><a href="http://www.facebook.com/Razorbacks-Football-NI-407126296154641/" target="_blank">Razorbacks Football NI</a></li>
        <li><a href="http://st-john.society.qub.ac.uk/" target="_blank">St John Ambulance QUB</a></li>
        <li><a href="http://www.facebook.com/glenn.gac/" target="_blank">Glenn GAC</a></li>
    </ul>
</aside>