@{
    ViewBag.Title = "Home Page";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>A little bit about me</h2>
</hgroup>

<table>
    <tr>
        <!--left hand site - photo/headshot-->
        <td>
            <img src="~/Images/headshot.png" alt="Daniel's headshot photograph" />
        </td>

        <td style="vertical-align:top">
            <!-- main content -->
            <h3>Hey there!</h3>

            <p>
                My name is Daniel, and I am a <i>developing</i> software engineer currently based in South <a href="http://visit-belfast.com/" title="Visit Belfast" target="_blank">Belfast.</a>

            </p>

            <p>
                I have an interest and experience in a wide range of technologies, but operate professionally mainly within the .NET stack, so that would be including but not limited to:
            </p>
            
                <ul>
                    <li>C# - including passing Microsoft Exam #70-483</li>
                    <li>VB.NET</li>
                    <li>ASP.NET - WebForms & MVC</li>
                    <li>WPF</li>
                    <li>Windows Phone</li>
                    <li>Silverlight</li>
                    <li>WCF</li>
                    <li>SQL (SQL Server & Oracle 11)</li>
                    <li>JavaScript / jQuery</li>
                </ul>
            <p>
                I have roughly 3 years commercial .NET experience (including a year's placement as a Support Developer). This is in addition to any projects I have undertaken personally or for education since starting my Degree (or even before then), which could be in a wide array of different languages and frameworks depending on my mood (or my lecturer) at the time.
            </p>
            <p>For more information, either check out @Html.ActionLink("my projects", "Projects", "Home") or feel free to @Html.ActionLink("get in touch", "Contact", "Home").

            </p>
        </td>
    </tr>
</table>
