@{
    ViewBag.Title = "Projects";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Some projects of note.</h2>
</hgroup>

<article>
    <p>
        Coming soon
    </p>
</article>

<aside>
    <h3>Daniel's Projects</h3>
    <p>
        Some projects will appear here shortly. In the meantime, why not check out <a href="https://github.com/dannymc18" target="_blank">GitHub</a> or get @Html.ActionLink("in touch","Contact","Home")?
    </p>
    <ul>
        <li><a href="http://epad.qublinks.org.uk" target="_blank">St John ePad</a></li>
        <li><a href="http://gpmtrailers.co.uk" target="_blank">GPM Trailers</a></li>
    </ul>
</aside>